body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
#box {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 10px 5px 3px #0000008c;
  transition: all 0.01s ease-in-out;
  /* background-image: url("assets/pngwing.com.png"); */
  /* background-size: cover; */
}

#box:hover {
  background-color: #0c6ab8;
  cursor: pointer;
}

.ctr {
  position: absolute;
  width: 100px;
  z-index: -1;
}

